<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>RuOpsMBDvinu2wIGYU4llWrBu</string>
	<key>consumer_Secret</key>
	<string>BWTMc0Uska3LaTkQf8JZHvLKmpmuc5E2Eu6pwMlypmgn1yoeQO</string>
</dict>
</plist>
